body {
  position: relative;
  font-family: "Aeonik TRIAL", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  background: #fff;
  overflow-x: hidden;
  transition: all 0.15s;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: none;
}

header {
  .action__chip {
    span {
      width: size(16px);
      height: size(16px);
      box-shadow: none;
      background-color: #FF1616 !important;
      color: white !important;
      font-weight: 700;
      font-size: size(11px);
      @media screen and (max-width: 1050px) {
        width: 16px;
        height: 16px;
        font-size: 11px;
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  @media screen and (max-width: 1050px) {
  }

  .btn-prev {
    left: size(37px);
  }

  .btn-next {
    right: size(37px);
  }

  .main-slider__pagination {
    position: absolute;
    bottom: size(28px) !important;
    z-index: 8;
    text-align: center;
    @media screen and (max-width: 1050px) {
      bottom: 33px !important;
    }

    .swiper-pagination-bullet {
      background: linear-gradient(90deg, #242848 0%, #5761ae 100%);
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      width: size(28px);
      border-radius: 100px;
      @media screen and (max-width: 1050px) {
        width: 28px;
      }
    }
  }

  .main-slider {
    width: 100%;
    height: 100%;
  }


  .main-slider__item {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .main__slider__img {
      width: 100%;
      height: 100%;
    }
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: size(49px);
  height: size(49px);
  @include flex-center();
  justify-content: center;
  background: #fff;
  border-radius: 9999px;
  z-index: 6;
  cursor: pointer;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  transition: all .3s;
  @media screen and (max-width: 1050px) {
    width: 32px;
    height: 32px;
  }

  &.swiper-button-disabled {
    width: 0;
  }
}

.slider__replacer {
  position: relative;
  width: 100%;

  .swiper-wrapper {
    @include flex-stretch();
    justify-content: flex-start;
  }

  .btn-prev {
    left: size(-77px);
  }

  .btn-next {
    right: size(-77px);
  }
}

.product__container {
  width: 100%;
  @include flex-stretch();
}

.product-card {
  position: relative;
  min-width: size(308px);
  width: 100%;
  height: 100%;
  @include flex-col-start();
  justify-content: space-between;
  gap: size(26px);
  background: #f4f4f4;
  padding-bottom: size(27px);
  border-radius: $border-radius;
  overflow: hidden;
  @media screen and (max-width: 1050px) {
    width: 100%;
    min-width: 308px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.block-title {
  max-width: 100%;
  @include flex-col-start();
  gap: size(19px);
  @media screen and (max-width: 1050px) {
    gap: 19px;
  }
}

.block-title__title {
  color: #484848;
  font-size: size(36px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 24px;
  }

  span {
    color: #5660ac;
  }
}

.block-title__span {
  color: rgba(0, 0, 0, 0.3);
  font-size: size(14px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
}

.user__inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: size(20px);
  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.user__title {
  color: #5761AD;
  font-size: size(23px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 23px;
  }
}

.input__container {
  width: 100%;
  @include flex-col-start();
  gap: size(8px);
  @media screen and (max-width: 1050px) {
    gap: 8px;
  }

  label {
    color: #5761AE;
    font-size: size(13px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 13px;
    }
  }

  input {
    width: 100%;
    padding: size(15px) size(18px);
    background: #F6F6F6;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.40);
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      padding: 15px 18px;
      font-size: 14px;
    }
  }

  span {
    font-size: size(14px);
    color: red;
    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }
  }
}

.breadcrumb__title {
  color: #505050;
  font-size: size(16px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 16px;
  }
}

.breadcrumbs {
  @include main-container();
  padding-top: size(51px);
  padding-bottom: size(51px);
  @media screen and (max-width: 1050px) {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .noactive {
    color: rgba(79.69, 79.69, 79.69, 0.5);
  }
}


.form__material__checkbox {
  width: size(22px);
  height: size(22px);
  border: none;
  @media screen and (max-width: 1050px) {
    width: 22px;
    height: 22px;
  }

  &:checked {
    background-color: $main-color !important;
  }
}

.icorp {
  @include flex-center();
  gap: size(3px);
  text-align: right;
  color: rgba(255, 255, 255, 0.80);
  font-size: size(15px);
  font-weight: 400;
  line-height: 170%;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    gap: 3px;
    font-size: 15px;
  }

  &::before {
    content: ' ';
    min-width: max-content;
    min-height: max-content;
    width: size(8px);
    height: size(12px);
    background-size: cover;
    background: url(/public/imgs/icons/icorp.svg) no-repeat top;
    @media screen and (max-width: 1050px) {
      width: 8px;
      height: 12px;
    }
  }
}

.social-medias {
  width: 100%;
  @include flex-col-start();
  gap: size(28.5px);
  margin-bottom: size(42px);
  @media screen and (max-width: 1050px) {
    margin-bottom: 42px;
  }


  .social-media {
    width: 100%;
    @include flex-col-start();
    gap: size(15px);
    @media screen and (max-width: 1050px) {
      gap: 15px;
    }


    .media__span {
      color: rgba(0, 0, 0, 0.30);
      font-size: size(14px);
      font-weight: 400;
      word-wrap: break-word;
      @media screen and (max-width: 1050px) {
        font-size: 14px;
      }
    }

    .media__icon {
      min-width: max-content;
      min-height: max-content;
      width: size(20px);
      height: size(20px);
      @media screen and (max-width: 1050px) {
        width: 20px;
        height: 20px;
      }
    }

    .media__title {
      color: #25294A;
      font-size: size(24px);
      font-weight: 400;
      word-wrap: break-word;
      @media screen and (max-width: 1050px) {
        font-size: 24px;
      }
    }

    address {
      color: rgba(0, 0, 0, 0.80);
      font-size: size(14px);
      font-weight: 400;
      word-wrap: break-word;
      font-style: normal;
      @media screen and (max-width: 1050px) {
        font-size: 14px;
      }
    }
  }
}

.socmedia {
  @include flex-center();
  gap: size(10px);
  justify-content: flex-start;
  @media screen and (max-width: 1050px) {
    gap: 10px;
  }

  .socmedia__icon {
    min-width: max-content;
    min-height: max-content;
    width: size(34px);
    height: size(33px);
    @media screen and (max-width: 1050px) {
      width: 34px;
      height: 34px;
    }
  }
}

.form__material__item {
  @include flex-center();
  gap: size(10px);
  @media screen and (max-width: 1050px) {
    gap: 10px;
  }

  label {
    color: rgba(0, 0, 0, 0.80) !important;
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 16px;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.2);
  @include flex-center();
  justify-content: center;
  z-index: 1000;
}

.popup__container {
  width: 100%;
  max-width: size(508px);
  background: white;
  padding: size(42px);
  border-radius: 6px;

  .title__container {
    margin-bottom: size(56px);
  }

  .title {
    color: #242848;
    font-size: size(23px);
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 23px;
    }
  }

  .input__container {
    margin-bottom: size(25px);
  }

  .close__icon {
    width: size(18.55px);
    height: size(18.55px);
    cursor: pointer;
  }

  .popup__span {
    color: #959595;
    font-size: size(13px);
    font-weight: 300;
    line-height: 18.20px;
    word-wrap: break-word;
  }

  .popup__btn {
    width: 100%;
    @include btn(22px, 143px, $primary, white);
    margin-bottom: size(31px);
  }

  .link {
    color: #5761AE;
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
  }
}