* {
  transition: all 0.3s;

  &::after, &::before {
    transition: all 0.3s;
  }
}

body {
  position: relative;
  font-family: "Aeonik TRIAL", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  background: #fff;
  overflow-x: hidden;
  transition: all 0.15s;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: none;
}

header {
  .action__chip {
    span {
      width: size(16px);
      height: size(16px);
      box-shadow: none;
      background-color: #FF1616 !important;
      color: white !important;
      font-weight: 700;
      font-size: size(11px);
      @media screen and (max-width: 1050px) {
        width: 16px;
        height: 16px;
        font-size: 11px;
      }
    }
  }
}

main {
  position: relative;
  width: 100%;
  @media screen and (max-width: 1050px) {
  }

  .btn-prev {
    left: size(37px);
  }

  .btn-next {
    right: size(37px);
  }

  .main-slider__pagination {
    position: absolute;
    bottom: size(28px) !important;
    z-index: 8;
    text-align: center;
    @media screen and (max-width: 1050px) {
      bottom: 28px !important;
    }

    .swiper-pagination-bullet {
      background: linear-gradient(90deg, #242848 0%, #5761ae 100%);
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      width: size(28px);
      border-radius: 100px;
      @media screen and (max-width: 1050px) {
        width: 28px;
      }
    }
  }

  .main-slider {
    width: 100%;
    height: 100%;
  }


  .main-slider__item {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .main__slider__img {
      width: 100%;
      height: 100%;
      @media screen and (max-width: 1050px) {
        height: 362px;
        object-fit: fill;
      }
    }
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: size(49px);
  height: size(49px);
  @include flex-center();
  justify-content: center;
  background: #fff;
  border-radius: 9999px;
  z-index: 6;
  cursor: pointer;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  transition: all .3s;
  @media screen and (max-width: 1050px) {
    width: 32px;
    height: 32px;
    display: none;
  }

  &.swiper-button-disabled {
    width: 0;
  }
}

.swiper-replacer {
  position: relative;
  width: 100%;
  padding: 0 size(25px);
  @media screen and (max-width: 1050px) {
    padding: 0 25px;
  }
}

.product__btn-prev,
.product__btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  width: size(24px);
  height: size(24px);
  border-radius: 9999px;
  background: #fff;
  @include flex-center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s;
  @media screen and (max-width: 1050px) {
    width: 24px;
    height: 24px;
  }

  &.swiper-button-disabled {
    width: 0;
  }
}

.product__btn-prev {
  left: 5px;
}

.product__btn-next {
  right: 5px;
}

.slider {
  width: 100%;
  @include flex-center();

  .swiper-wrapper {
    margin-bottom: size(16px);
    @media screen and (max-width: 1050px) {
      margin-bottom: 16px;
    }
  }

  .slider__item {
    position: relative;
    width: size(45px) !important;
    height: size(45px) !important;
    @include flex-center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px transparent solid;
    cursor: pointer;
    transition: all 0.3s;
    @media screen and (max-width: 1050px) {
      width: 41px !important;
      height: 41px !important;
    }

    &.active {
      border-color: white;

      &::after {
        content: " ";
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: size(5px);
        height: size(5px);
        background: #ff1616;
        border-radius: 9999px;
        z-index: 3;
        @media screen and (max-width: 1050px) {
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .slider__img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    object-fit: cover;
  }
}

.slider__replacer {
  position: relative;
  width: 100%;

  .swiper-wrapper {
    @include flex-stretch();
    justify-content: flex-start;
  }

  .btn-prev {
    left: size(-77px);
  }

  .btn-next {
    right: size(-77px);
  }
}

.product__container {
  width: 100%;
  @include flex-stretch();
}

.product-card {
  position: relative;
  min-width: size(308px);
  max-width: size(360px);
  width: 100%;
  height: 100%;
  @include flex-col-start();
  justify-content: space-between;
  gap: size(26px);
  background: #f4f4f4;
  padding-bottom: size(27px);
  border-radius: $border-radius;
  overflow: hidden;
  @media screen and (max-width: 1050px) {
    width: 100%;
    min-width: 308px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.block-title {
  max-width: 100%;
  @include flex-col-start();
  gap: size(19px);
  @media screen and (max-width: 1050px) {
    gap: 19px;
  }
}

.block-title__title {
  color: #484848;
  font-size: size(36px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 24px;
  }

  span {
    color: #5660ac;
  }
}

.block-title__span {
  color: rgba(0, 0, 0, 0.3);
  font-size: size(14px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
}

.user__inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: size(20px);
  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.user__title {
  color: #5761AD;
  font-size: size(23px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 23px;
  }
}

.input__container {
  width: 100%;
  @include flex-col-start();
  gap: size(8px);
  @media screen and (max-width: 1050px) {
    gap: 8px;
  }

  label {
    color: #5761AE;
    font-size: size(13px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 13px;
    }
  }

  input {
    width: 100%;
    padding: size(15px) size(18px);
    background: #F6F6F6;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.40);
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      padding: 15px 18px;
      font-size: 14px;
    }
  }

  span {
    font-size: size(14px);
    color: red;
    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }
  }
}

.breadcrumb__title {
  color: #505050;
  font-size: size(16px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 16px;
  }
}

.breadcrumbs {
  @include main-container();
  padding-top: size(51px);
  padding-bottom: size(51px);

  ol {
    gap: size(17px);
  }

  li {
    gap: size(17px);
  }

  @media screen and (max-width: 1050px) {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .noactive {
    color: rgba(79.69, 79.69, 79.69, 0.5);
  }
}


.form__material__checkbox {
  width: size(22px);
  height: size(22px);
  border: none;
  @media screen and (max-width: 1050px) {
    width: 22px;
    height: 22px;
  }

  &:checked {
    background-color: $main-color !important;
  }
}

.icorp {
  @include flex-center();
  gap: size(3px);
  text-align: right;
  color: rgba(255, 255, 255, 0.80);
  font-size: size(15px);
  font-weight: 400;
  line-height: 170%;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    gap: 3px;
    font-size: 15px;
  }

  &::before {
    content: ' ';
    min-width: max-content;
    min-height: max-content;
    width: size(8px);
    height: size(12px);
    background-size: cover;
    background: url(/public/imgs/icons/icorp.svg) no-repeat top;
    @media screen and (max-width: 1050px) {
      width: 8px;
      height: 12px;
    }
  }
}

.social-medias {
  width: 100%;
  @include flex-col-start();
  gap: size(28.5px);
  margin-bottom: size(42px);
  @media screen and (max-width: 1050px) {
    margin-bottom: 42px;
  }


  .social-media {
    width: 100%;
    @include flex-col-start();
    gap: size(15px);
    @media screen and (max-width: 1050px) {
      gap: 15px;
    }


    .media__span {
      color: rgba(0, 0, 0, 0.30);
      font-size: size(14px);
      font-weight: 400;
      word-wrap: break-word;
      @media screen and (max-width: 1050px) {
        font-size: 14px;
      }
    }

    .media__icon {
      min-width: max-content;
      min-height: max-content;
      width: size(20px);
      height: size(20px);
      @media screen and (max-width: 1050px) {
        width: 20px;
        height: 20px;
      }
    }

    .media__title {
      color: #25294A;
      font-size: size(24px);
      font-weight: 400;
      word-wrap: break-word;
      @media screen and (max-width: 1050px) {
        font-size: 24px;
      }
    }

    address {
      color: rgba(0, 0, 0, 0.80);
      font-size: size(14px);
      font-weight: 400;
      word-wrap: break-word;
      font-style: normal;
      @media screen and (max-width: 1050px) {
        font-size: 14px;
      }
    }
  }
}

.socmedia {
  @include flex-center();
  gap: size(10px);
  justify-content: flex-start;
  @media screen and (max-width: 1050px) {
    gap: 10px;
  }

  .socmedia__icon {
    min-width: max-content;
    min-height: max-content;
    width: size(34px);
    height: size(33px);
    @media screen and (max-width: 1050px) {
      width: 34px;
      height: 34px;
    }
  }
}

.form__material__item {
  @include flex-center();
  gap: size(10px);
  @media screen and (max-width: 1050px) {
    gap: 10px;
  }

  label {
    color: rgba(0, 0, 0, 0.80) !important;
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 16px;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.2);
  @include flex-center();
  justify-content: center;
  z-index: 1000;
  @media screen and (max-width: 1050px) {
    padding: 0 20px;
  }
}

.popup__container {
  width: 100%;
  max-width: size(508px);
  background: white;
  padding: size(42px);
  border-radius: 6px;
  @media screen and (max-width: 1050px) {
    max-width: 508px;
    padding: 36px;
  }

  .title__container {
    margin-bottom: size(56px);
    @media screen and (max-width: 1050px) {
      margin-bottom: 56px;
    }
  }

  .title {
    color: #242848;
    font-size: size(23px);
    font-weight: 400;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 23px;
    }
  }

  .input__container {
    margin-bottom: size(25px);
    @media screen and (max-width: 1050px) {
      margin-bottom: 25px;
    }
  }

  .close__icon {
    width: size(18.55px);
    height: size(18.55px);
    cursor: pointer;
    @media screen and (max-width: 1050px) {
      width: 23.39px;
      height: 23.39px;
    }
  }

  .popup__span {
    color: #959595;
    font-size: size(13px);
    font-weight: 300;
    line-height: 18.20px;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }
  }

  .popup__btn {
    width: 100%;
    @include btn(22px, 50px, $primary, white);
    margin-bottom: size(31px);
    @media screen and (max-width: 1050px) {
      font-size: 14px;
      margin-bottom: 31px;
    }
  }

  .link {
    color: #5761AE;
    font-size: size(14px);
    font-weight: 300;
    line-height: 140%;
    word-wrap: break-word;
    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }
  }
}

.count__value {
  width: size(60px);
  height: size(35px);
  text-align: center;
  background: white;
  border-right: 5px;
  color: black;
  font-size: size(16px);
  font-weight: 400;
  line-height: 110%;
  word-wrap: break-word;
  border-radius: 5px;
  white-space: nowrap;
  @media screen and (max-width: 1050px) {
    width: 102px;
    padding: 15px 30px;
    font-size: 23px;
  }
}

.count__span {
  color: rgba(36, 40, 72, 0.7);
  font-size: size(13px);
  font-weight: 400;
  line-height: 110%;
  word-wrap: break-word;
  white-space: nowrap;
  margin-bottom: size(17px);
  @media screen and (max-width: 1050px) {
    font-size: 13px;
    margin-bottom: 17px;
  }
}

.news__card {
  width: size(635px);
  height: size(330px);
  @include flex-center();
  background: #F4F4F4;
  border-right: 5px;
  @media screen and (max-width: 1050px) {
    width: 100%;
    height: auto;
    @include flex-col-stretch();
  }
}

.news__card__img {
  width: size(330px);
  height: 100%;
  @media screen and (max-width: 1050px) {
    width: 100%;
    height: 180px;
  }
}

.news__card__content {
  @include flex-col-start();
  justify-content: space-between;
  height: 100%;
  padding: size(37px);
  @media screen and (max-width: 1050px) {
    padding: 30px;
    gap: 47px;
  }
}

.news__card__date {
  padding: size(12.5px) size(23.5px);
  background: white;
  border-radius: 100px;
  color: rgba(37, 41, 74, 0.70);
  font-size: size(12px);
  font-weight: 400;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    padding: 12.5px 23.5px;
    font-size: 12px;
  }
}

.news__card__title {
  color: #4B4B4B;
  font-size: size(18px);
  font-weight: 300;
  line-height: 26px;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 18px;
  }
}

.news__card__sub {
  color: #828282;
  font-size: size(14px);
  font-weight: 300;
  line-height: 150%;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
}

.news__card__read {
  color: #242848;
  font-size: size(14px);
  font-weight: 300;
  line-height: 150%;
  word-wrap: break-word;
  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
}

.info-page {
  width: 100%;
  @include main-container();
  @include flex-col-start();
  gap: size(88px);
  margin-bottom: size(220px);
  @media screen and (max-width: 1050px) {
    gap: 88px;
    margin-bottom: 220px;
  }
}

.info-page__container {
  width: 100%;
  @include flex-col-start();

  .title {
    width: 100%;
    color: #242848;
    font-size: size(17px);
    font-weight: 700;
    line-height: 160%;
    word-wrap: break-word;
    margin-bottom: size(30px);
    @media screen and (max-width: 1050px) {
      font-size: 17px;
      margin-bottom: 20px;
    }
  }

  .sub {
    width: 100%;
    color: rgba(36, 40, 72, 0.55);
    font-size: size(16px);
    font-weight: 400;
    line-height: 155%;
    word-wrap: break-word;
    margin-bottom: size(30px);
    @media screen and (max-width: 1050px) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    a {
      color: #FF1616;
    }
  }
}

.list {
  width: 100%;
  padding-left: size(20px);

  li {
    width: 100%;
    list-style-type: disc;
  }

  p {
    width: 100%;
    margin-bottom: size(30px);
    @media screen and (max-width: 1050px) {
      margin-bottom: 20px;
    }
  }

  .num {
    list-style-type: decimal;
    font-weight: 600;
  }
}